@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

:root {
  --level-one: translateZ(6rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --clr: #b7c9e5;
}

body {
  display: grid;
  place-items: center;
}

.card {
  width: 400px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 1s;
  background: pink;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  
}

.card__front {
  background-color: var(--clr);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-one);
  text-transform: uppercase;
}

.card__body {
  transform: var(--level-one);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
  color: var(--clr);
  background: #c01d1d;
}
